{% extends 'base.html.twig' %}

{% block body %}
    <section style="text-align:center; background-color: cornsilk;">

      <h2>Contact</h2>

      <p>Adresse mail de contact: bonaknt@gmail.com</p>

      <p>Pour faire une demande d'ajout de lien sur le site veuillez respecter le format suivant:<br /><br />

      Objet: Demande d'ajout de lien<br /><br />

      Contenu:<br /><br />

      Titre: Titre du lien<br />
      Lien: www.monlien.com<br />
      description: Petit description du lien<br />
      Catégorie: PHP*<br />
      Sous-catégorie: Cours*<br />
      </p>

      <p>*Veuillez choisir des catégorie uniquement présente sur le site.</p>

      <p>N'hésitez à nous contacter pour des ajout de catégorie ou sous-catégorie ou encore des suggestions sur le site web.</p>
    </section>

{% endblock %}